*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("./wall.png");*/
}

.bookshelf {
    width: 90vw;
    background: #e4ac3d;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.book {
    position: relative;
    width: 400px;
    height: 350px;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.8);
    background-image: url("face.png");
    background-size: contain;
    background-attachment: fixed;
    perspective-origin: 0 200%;
    perspective: 1000px;
    transform: rotateX(-15deg);
    transform-style: preserve-3d;
    transition: all .2s ease-in;
}

.book:after {
    content: '';
    width: 100%;
    height: 20px;
    background: #d7d5d5;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(309deg) translate(0px, 20px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
}
.cover {
    width: 380px;
    height: 100%;
    position: relative;
    left: 20px;
    background-color: #345b8c;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all .5s ease-in;
    z-index: 2;
}
.book:hover {
    transform: scale(1.2);
}
.book:hover .cover{
    transform: rotateY(-180deg);
}

figure {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 2px 1px #000000;
}
figure.front {
    background-image: url("face.png");
    background-size: contain;
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/
    border-left: 1px solid #2f2f2f;
}
figure.front .title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #fff;
}
figure.front h1 {
    text-align: center;
    background: linear-gradient(to right, #ffd700, #8ca6ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

figure.back {
    background-color: #ffffff;
    background-image: url("profile_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.content {
    position: absolute;
    top: 0;
    left: 20px;
    width: 380px;
    height: 100%;
    z-index: 1;
    background-color: #fff;
}
