*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #2196f3;*/
    background: #f1f1f1;
}

.loader span {
    display: inline-block;
    width: 30px;
    height: 120px;
    margin: 0 10px;
    /*background: #2196f3;*/
    background: #fff;
    -webkit-animation: animate 1.4s linear infinite;
    -o-animation: animate 1.4s linear infinite;
    animation: animate 1.4s linear infinite;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}
.loader span:nth-child(2) {
    animation-delay: 0.2s;
}
.loader span:nth-child(3) {
    animation-delay: 0.4s;
}
.loader span:nth-child(4) {
    animation-delay: 0.6s;
}
.loader span:nth-child(5) {
    animation-delay: 0.8s;
}
.loader span:nth-child(6) {
    animation-delay: 1s;
}
.loader span:nth-child(7) {
    animation-delay: 1.2s;
}

h1 {
    color: #fff;
    text-align: center;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 rgba(0,0,0,.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50% {
        box-shadow: 0 20px 50px rgba(0,0,0,.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100% {
        box-shadow: 0 0 0 rgba(0,0,0,.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}