*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas1 {
    position: absolute;
    width: 500px;
    height: 706px;
}