*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}
.turbulence {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: linear-gradient(to right, red, green, blue);
    filter: url('#wave');
}
.container {

}